:root {
    --primary-color: #0bc7ab;
}

* {
    color: var(--primary-color);
}

p {
    color: #000000;
    font-size: 12px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.userLoginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.username,
.pincode {
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    pointer-events: none;
}

input {
    padding-left: 40px;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 20px;
}

.loginBtn {
    background: var(--primary-color);
    color: #FFFFFF;
    border: 1px solid #aaa;
    width: 80px;
    height: 30px;
    font-size: 12px;
}

.socialIcons * {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px;
    font-size: 25px;
}

.socialIcons {
    size: 30px;
    display: flex;
    gap: 15px;
}